html {
	height: 0;
}

body {
	width: 400px;
	background: #f9f9f9;
	color: #444;
}

h3 {
	color: #64bae4;
}

img {
	max-width: 100%;
}

.mdl-card {
	width: 100%;
	min-height: 0;
	background: transparent;
}

.mdl-card__supporting-text {
	padding: 0 16px;
}

.mdl-card__actions {
	padding: 0 16px 16px;
}

.mdl-card .subtitle {
	padding-top: 0;
}

.mdl-textfield {
	width: 100%;
}

.mdl-textfield__label:after {
	height: 1px;
}

#noshare h3 {
	position: absolute;
	top: 0;
	right: 0;
	margin: 15px;
	color: #fff;
	text-align: right;
}

#noshare .accent {
	padding: 0 10px;
	background: rgb(255,82,82);
	font-weight: bold;
}
