body {
  font-family: Arial, Helvetica, sans-serif; }

h1 {
  color: #64bae4;
  text-transform: uppercase;
  font-size: 1.6em; }

textarea {
  border: 3px solid #dee3eb;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  padding: 10px 5px; }

p {
  color: #64bae4;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px 0px; }

button {
  background-color: white;
  border: 3px solid #64bae4;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 6px 15px;
  color: #64bae4;
  float: right; }

select {
  padding: 6px;
  margin: 0;
  border-radius: 5px;
  color: black;
  outline: none;
  display: inline-block;
  cursor: pointer;
  border: 3px solid #dee3eb;
  width: 260px; }
